:root {
  --color-primary: #B82132;   /* merah utama */
  --color-secondary: #D2665A; /* merah muda terang */
  --color-accent: #F2B28C;    /* aksen peach */
  --color-background: #F6DED8;/* latar romantis */
  --color-dark: #6C1E27;      /* penyeimbang gelap */
  --color-light: #FFF5F1;     /* penyeimbang terang / card */
}

@font-face {
    font-family: pil love;
    src: url('fonts/pil-love.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: "Jersey 10", sans-serif;
}

body {
    background-image: url("assets/romatic-background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h2 {
    font-size: 2.5em;
    letter-spacing: 1px;
}

#status {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 90%;
    height: 40px;
    border: 2px solid var(--color-accent);
    font-size: 1.6em;
    background-color: #f2b18c73;
}

label {
    font-size: 1.2em;
    padding-left: 5px;
}

.label-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#love-img {
    height: 100px;
}

.yourname-container, .crushname-container {
    display: flex;
    flex-direction: column;
}

#yourname-input, #crushname-input {
    font-size: 1.2em;
    height: 40px;
    padding-left: 5px;
    border: 2px solid var(--color-accent);
}

#yourname-input:focus, #crushname-input:focus {
    outline: none;
    box-shadow: 0 0 6px var(--color-accent);
    transition: box-shadow 0.5s ease-in-out, 0.5s ease-in-out;
}

#generate-button {
    width: 80px;
    height: 40px;
    font-size: 2.7em;
    background-color: var(--color-primary);
    color: #FFF;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#generate-button:hover {
    background-color: var(--color-secondary);
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    font-size: 3em;
}

.card-container {
    padding-bottom: 16px;
    width: 550px;
    background-color: var(--color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result-display {
    font-size: 2em;
    padding: 12px 0;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background: white;
  margin: 10% auto;
  padding: 1rem;
  width: 400px;
  border-radius: 12px;
}

#question{
    font-size: 1.5em;
}

.btn {
    height: 40px;
    width: 100%;
    font-size: 1.2em;
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
    margin: 8px 0;
    border: 2px solid var(--color-accent);
}

.btn:hover {
    background-color: var(--color-accent);
    color: white;
}

.selected {
    border: 2px solid var(--color-primary);
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

#next-button, #close-button {
    width: 20%;
    height: 35px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    background-color: var(--color-primary);
    color: #FFF;
}

#next-button:hover, #close-button:hover {
    filter: brightness(0.8);
}

/* Mobile view */
@media (max-width: 480px) {
    body {
        height: 100dvh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #status {
        width: 70%;
        font-size: 1.3em;
    }

    .card-container {
        width: 300px;
    }

    .label-container {
        display: flex;
        flex-direction: column;
        gap: 0;
        text-align: center;
        margin: 10px 0;
    }
}
